/* 个性化头部 */
#header {
  border: 1px solid #d5d5d5;
}

.navbar-default .navbar-nav > li > a {
  color: #d5d5d5;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a:hover {
    color: #000 !important;
  }

  .navbar li.active a {
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: #000 !important;
  }
  .navbar-right a {
    color: rgb(51, 123, 143) !important;
  }
}

/* 内容主体 */
#main-content {
  color: #000;
  letter-spacing: .2rem;
}
#main-content .container .row {
  margin: 4rem 0;
}

#main-content .col-sm-5 p {
  font-size: 0.8rem;
  margin-top: 1rem;
}

#main-content .col-sm-5 button {
  margin-top: 1.5rem;
  width: 12rem;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}

#main-content .row .pic {
  box-sizing: border-box;
  padding: 0 0 0 3rem;
}

#main-content .row.msg p{
  margin-top: 2rem;
}
#main-content .row.msg {
  padding: 0 3rem;
}

#main-content .line {
  border: 2px solid #979797;
}

@media screen and (max-width: 768px) {
  #main-content .row {
    text-align: center;
  }
  #main-content .row .pic {
    padding: 0;
  }
}
