/* 个性化头部 */
#header {
  border: 0;
}

@media screen and (min-width: 768px) {

  .navbar li.active a {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #fff !important;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
  }

}
.navbar-right a {
  color: #d5d5d5 !important;
}


/* 首页样式 */
#main-area {
  font-size: 1rem;
}
/* 第一板块 */
.ht_section_0 {
  overflow: hidden;
}
.ht_section_0 .ht_bg_box {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url('../assets/index_bg@3x.png');
  z-index: -233;
}

@media screen and (max-width: 768px) {
  .ht_section_0 .ht_section_0_info {
    padding-top: 0px !important;
  }
  .ht_section_0_info .row {
    margin-top: 10px !important;
  }
}

.ht_section_0 .ht_section_0_info {
  padding: 120px 0;
}
.ht_section_0_info .row {
  margin-top: 20px;
}
.info_logo img {
  width: 20rem;
}

.ht_section_0_info {
  transform: translatey(-200px);
  opacity: 0;
  transition: .8s all;
}

.ht_section_0_info.show {
  transform: translatey(0);
  opacity: 1;
}

/* 第二板块 */
.ht_section_1 {
  overflow: hidden;
  background-color: #020115;
  letter-spacing: 0.3rem;
  padding: 7.5rem 0;
  font-size: 1rem;
}
.ht_section_1 h1 {
  font-size: 2.2rem;
}

.ht_section_1 .container {
  max-width: 500px;
}

.ht_section_1 .row {
  margin: 30px 0;
  opacity: 0;
  transition: .8s;
}
.ht_section_1 .row.show{
  opacity: 1;
}

.ht_section_1 .row span {
  color: rgba(255, 255, 255, 0.6);
}

/* 第三板块 */
.ht_section_2 {
  overflow: hidden;
  background-color: #fff;
  padding: 6.25rem 0;
  color: #00040a;
  letter-spacing: 0.3rem;
}

.ht_section_2 .container {
  max-width: 500px;
}

.ht_section_2 .row {
  margin: 30px 0;
}

.ht_section_2 .row span {
  color: #000;
}

/* 第四板块 */
.ht_section_3 {
  overflow: hidden;
  background-color: #fff;
  padding: 0 0 6.25rem 0;
  color: #00040a;
  letter-spacing: 0.3rem;
}

.ht_section_3 .row + .row {
  margin-top: 3.5rem;
}
.ht_section_3 .row img {
  margin-bottom: 1rem;
  transition: .8s;
  opacity: 0;
}
.ht_section_3 .row img.show {
  opacity: 1;
}
.ht_section_3 a {
  color: #00040a;
}

/* 第五版块 */
.ht_section_4 {
  overflow: hidden;
  background-color: #020115;
  padding: 6.25rem 0;
}
.ht_section_4 .row {
  opacity: 0;
  transition: .8s;
}
.ht_section_4 .row.show {
  opacity: 1;
}

.ht_section_4 .row .line {
  height: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.ht_section_4 .row .dark {
  color: rgba(255, 255, 255, 0.8);
}

.ht_section_4 .col-md-5 .letterspace {
  letter-spacing: 0.3rem;
}

.ht_section_4 .row .col-md-5 h1 {
  margin-bottom: 3rem;
}

.ht_section_4 .row .col-md-5 p {
  margin-top: 2rem;
}

.ht_section_4 .row .col-md-5 a {
  display: block;
  margin-top: 2.2rem;
}

.ht_section_4 .row .col-md-6 h3 {
  padding: 15px;
  background-color: #454545;
  border-radius: 6px;
}

.ht_section_4 .col-md-6 .content {
  overflow-x: hidden;
  height: 300px;
}

.ht_section_4 .col-md-6 .content .item {
  background-color: #454545;
  padding: 15px;
  margin-top: 5px;
}

.ht_section_4 .content .item .info {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

.ht_section_4 .content .item .col-xs-4 {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

/* 第六板块 */
.ht_section_5 {
  background-color: #fff;
  padding: 6.25rem 0;
}
.ht_section_5 .row {
  opacity: 0;
  transition: .8s;
}
.ht_section_5 .row.show {
  opacity: 1;
}

.ht_section_5 .row .col-md-3 {
  padding: 30px;
  background-color: #282828;
}

.ht_section_5 .col-md-3 input {
  height: 3rem;
  width: 85%;
  outline: none;
  border: 0;
  margin-top: 5px;
  padding: 5px;
  color: rgba(0, 0, 0);
}

.ht_section_5 .col-md-3 input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.28);
}
.ht_section_5 .col-md-3 input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.28);
}

.ht_section_5 .col-md-3 button {
  border: 0;
  background-color: rgba(206, 77, 42, 0.88);
  color: #fff;
  font-size: 0.8rem;
  margin-top: 15px;
  padding: 15px 25px;
}

.ht_section_5 .col-md-4 {
  color: #746a6a;
  letter-spacing: 0.2rem;
}
