/* 通用样式 头部和尾部 */

/* 头部 */
#header {
  position: relative;
  height: 80px;
  z-index: 2333;
}
.navbar-default{
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  height: 80px;
}
.navbar-header {
  height: 80px;
}

.navbar-toggle {
  margin-top: 25px;
}

@media screen and (min-width : 768px){
  .navbar li a{
    line-height: 50px;
    height: 80px;
  }
  .navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.7)
  }
  .navbar li.active a{
    background-color: rgba(255, 255, 255, 0) !important;
    color: #fff !important;
  }
}

