/* 通用样式 头部和尾部 */
html,
body {
  font-size: 100%;
  color: #fff;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

/* 头部 */
#header {
  position: relative;
  height: 80px;
  z-index: 2333;
  border: 1px solid #d5d5d5;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  height: 80px;
}
.navbar-header {
  height: 80px;
}

.navbar-toggle {
  margin-top: 25px;
}

.navbar-default .navbar-nav > li > a {
  color: #d5d5d5;
}

.navbar li a:hover {
  color: #fff !important;
}

.navbar-toggle {
  border: 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 80%;
  }
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 400px) {
  html,body {
    font-size: 60%;
  }
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a:hover {
    color: #000 !important;
  }

  .navbar li a {
    line-height: 50px;
    height: 80px;
  }

  .navbar li.active a {
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: #000 !important;
  }

  .navbar-right a {
    color: rgb(51, 123, 143) !important;
  }
}

/* 尾部 */
#footer {
  background-color: #2b2d2d;
  padding: 5rem;
}
#footer .info {
  line-height: 25px;
}
#footer p {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
}
#footer .title {
  font-size: 1rem;
  color: #fff;
}
